.container-fluid{
  background-color: #2EC213;
  background-size: cover;
}
.jumbotron{
  background-color: #2EC213;
}
footer {
    display: block;
}
.well{
  margin-top: 300px;
  background-color: #273D9C;
  background-size: cover;
  height: 200px;
  width: auto;
}
